<?xml version="1.0" encoding="windows-1251"?>
<settings project="sios">
<module name="start">
<param id="choose_mode_dialog" comment="Текст в диалоге выбора режима">
Анализ позволяет создавать полную модель задач и исполнителей и проверять ее на корректность.
Синтез позволяет создавать модель задач и синтезировать на основе их структуру исполнителей.
</param>
<param id="panel_spec" comment="Текст на панели специализаций">
Нажмите кнопку "Добавить специализацию" для добавления новой специализации.
В меню специализаций можно добавить квалификацию.
</param>
<param id="panel_tasks" comment="Текст на панели задач">
Нажмите кнопку "Добавить специализацию" для добавления новой специализации.
В меню специализаций можно добавить квалификацию.
</param>
<param id="panel_execs" comment="Текст на панели исполнителей">
Нажмите кнопку "Добавить специализацию" для добавления новой специализации.
В меню специализаций можно добавить квалификацию.
</param>
<param id="panel_tasksToExecs" comment="Текст на панели привязки задач к исполнителям">
Нажмите кнопку "Добавить специализацию" для добавления новой специализации.
В меню специализаций можно добавить квалификацию.
</param>
<param id="panel_tree" comment="Текст на панели графического построения структуры">
Нажмите кнопку "Добавить специализацию" для добавления новой специализации.
В меню специализаций можно добавить квалификацию.
</param>
<param id="dialog_spec" comment="Текст в диалоге новой специализации.">
Нажмите кнопку "Добавить специализацию" для добавления новой специализации.В меню специализаций можно добавить квалификацию.
</param>
<param id="dialog_tasks" comment="Текст в диалоге новой задачи">
Нажмите кнопку "Добавить специализацию" для добавления новой специализации. 
В меню специализаций можно добавить квалификацию.
</param>
<param id="dialog_execs" comment="Текст в диалоге нового исполнителя">
Нажмите кнопку "Добавить специализацию" для добавления новой специализации.
В меню специализаций можно добавить квалификацию.
</param>
</module>
</settings>
