<?xml version="1.0" encoding="windows-1251"?>
<settings project="sios">
    <module name="start">
        <param id="choose_mode_dialog" comment="Текст в диалоге выбора режима">
            Анализ позволяет создавать полную модель задач и исполнителей и проверять ее на корректность.
            Синтез позволяет создавать модель задач и синтезировать на основе их структуру исполнителей.
        </param>
        <param id="panel_spec" comment="Текст на панели специализаций">
            Нажмите кнопку "Добавить специализацию" для добавления новой специализации.
            На основе введенных специализаций формируются исполнители и задачи. Укажите все специализации, которыми может обладать исполнитель или задача.
            В меню специализаций можно добавить квалификацию.
        </param>
        <param id="panel_tasks" comment="Текст на панели задач">
            Нажмите кнопку "Добавить задачу" для добавления новой задачи. 
            Совокупность задач отражают трудовую деятельность организации.
        </param>
        <param id="panel_execs" comment="Текст на панели исполнителей">
            Нажмите кнопку "Добавить исполнителя" для добавления нового исполнителя. 
            Исполнители соответствуют сотрудникам организации. 
         </param>
        <param id="panel_tasksToExecs" comment="Текст на панели привязки задач к исполнителям">
            Для добавления задачи исполнителю выберите исполнителя (в левой колонке), выберите задачу (в правой колонке) и нажмите по кнопе с изображением стрелки указывающей налево.
            Для удаления задачи выберите задачу (в левой колонке) и нажмите по кнопке с изображением стрелки указывающей направо.
        </param>
        <param id="panel_tree" comment="Текст на панели графического построения структуры">
            Для построения связи выберите элемент  (двойным кликом мыши), который хотите связать, затем (одинарным кликом мыши) элемент  с которым хотите произвести связывание.
            Для разрыва связи нажмите правой кнопкой мыши по линии связи в появившемся меню нажмите "Удалить", после чего связь удалится.
        </param>
        <param id="dialog_spec" comment="Текст в диалоге новой специализации.">
            Для создания новой специализации введите название специализации, создайте связанные квалификации с данной специализацией. Набор квалификаций характеризуют уровни сложности в рамках данной квалификации.   
            Нажмите кнопку "Добавить" для добавления новой квалификации.
            Нажмите кнопку "Вверх", "Вниз" для перемещения квалификации.
            Сложность квалификации увеличивается сверху вниз.
        </param>
        <param id="dialog_tasks" comment="Текст в диалоге новой задачи">
          Для создания новой задачи введите название задачи, укажите специализацию, квалификацию и нагрузку на исполнительный элемент. Специализация и квалификация формируют требования к профессиональным качествам исполнителя. Нагрузка – это время, которое необходимо затратить  для решения задачи.
            Список квалификаций и специализаций формируется на основе ранее введенных.
        </param>
        <param id="dialog_execs" comment="Текст в диалоге нового исполнителя">
           Для создания нового исполнителя введите имя исполнителя, укажите тип исполнителя, добавьте одну или несколько специализаций (квалификаций). Тип исполнителя характеризует род деятельности исполнителя. Специализация и квалификация отражает профессиональные качества элемента. 
           Нажмите кнопку "Добавить" для добавления новой специализации (квалификации).
           Список квалификаций и специализаций формируется на основе ранее введенных.
        </param>
    </module>
</settings>
